<html>
<body>
<h1>Hey! You can sign in with facebook!!</h1>
<p>What who are you?</p>
<div id="styleme">
<p> Style me </p>	
</div>
<input type="text" id="nums">
<input type="button" id="face" value="push me"><br>
<input type="button" id="display" value="display last input"><br>
<div id="showing">	
</div>
<div id="video">
	
</div>
<!-- <%if current_user%>
	<%if current_user.name == "Jackie Gushue"%>
	<video id="jackievid" src="/videos/forjackie.mp4" controls="controls" onclick="this.play();">This doesn't work</video>
	<%else%>
	<video id="myvid" src="/videos/testmovie.mp4" controls="controls">This doesn't work</video>
	<%end%>
<%else%>
	<div>please sign in</div>
<%end%>       -->

<%if current_user%>
	<input type="hidden" id="UserName" value="<%=current_user.name%>">
	<%if current_user.name == "Nikka Ghalili"%>
	<h3>Welcome Nikka!</h3>
    	<p>Please input your info</p>
			<textbox id="infos"></textbox>
			<button id="infosubmit">submit</button>
	<%else%>
	<div>You are logged in!! But you aren't nikka...</div>
	<%end%>
<%end%>
</body>
</html>


<script type="text/javascript" charset="utf-8">

//var PopArr = null;
	$("#face").click(function(){
		$.ajax({
			url: "/numbers/",
			type: "POST",
			data: {
				"remote" : true,
				"number" : {
					"calc": $("#nums").val()	
				},
				
			},
			success: function() {
				alert("it worked!!");
			},
			error: function(jqXHR) {
				console.log(jqXHR);
			}
			
		});
	});
	
	$("#display").click(function(){
		$.ajax({
			url: "/numbers/",
			type: "GET",
			success: function(data) {
				// for (i in data) {
				// 	console.log(data[i]);
				// 	PopArr[i] = data[i].calc; 				
				// }
				//PopArr = data;  
				// console.log(PopArr);
				var l = data.length - 1;
				$("#showing").text(data[l].number.calc);
 
			},
		});
	});
	
	$("#infosubmit").click(function(){
		$.ajax({
			url: "/home/",
			type: "POST",
			data: {
				"remote" : true,
				"user" : {
					"name" : $("#UserName").val,
					"information" : $("#infos").val()
				},
			},
			
			success: function(data) {
				console.log(data);
			},
			error: function(data) {
				console.log(data);
			}
		});
	});
</script>

<style type="text/css" media="screen">
	#styleme {
		float: right;
	}
</style>