<html>
<body>
<h1>Hey! You can sign in with facebook!!</h1>
<p>What who are you?</p>
<div id="styleme">
<p> Style me </p>	
</div>
<input type="text" id="nums">
<input type="button" id="face" value="push me"><br>
</body>
</html>


<script type="text/javascript" charset="utf-8">
	$("#face").click(function(){
		$.ajax({
			url: "/numbers/",
			type: "POST",
			data: {
				"remote" : true,
				"number" : {
					"calc": $("#nums").val()	
				},
				
			},
			success: function() {
				alert("it worked!!");
			},
			error: function(jqXHR) {
				console.log(jqXHR);
			}
			
		});
	});
</script>

<style type="text/css" media="screen">
	#styleme {
		float: right;
	}
</style>